  
<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= project.title %>" type="text" name="title" id="title" class="w-full">
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <textarea name="category" id="category" class="w-full"><%= project.category %></textarea>
  </div>
  <div class="form-group">
    <label for="quote">Quote</label>
    <textarea name="quote" id="quote" class="w-full"><%= project.quote %></textarea>
  </div>
  <div class="form-group">
    <label for="imageurl">Image Url</label>
    <textarea name="imageurl" id="imageurl" class="w-full"><%= project.imageUrl %></textarea>
  </div>
  <div class="form-group">
    <label for="github">Github</label>
    <textarea name="github" id="github" class="w-full"><%= project.github %></textarea>
  </div>
  <div class="form-group">
    <label for="website">Website Url</label>
    <textarea name="website" id="website" class="w-full"><%= project.website %></textarea>
  </div>
  <div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="w-full h-30"><%= project.markdown %></textarea>
  </div>
  
  <a href="/projectspage" class="btn btn-secondary">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>